html, body {
    height: 100%;
}
body {
    background-color: #fff
    color: #eee;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3vmin;
    overflow: hidden;
    height: 100%;
}

.hidden {
    display: none;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
    color: #50AABE;
    position: relative;
    z-index: 10;
}

.slackcheck {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	z-index: 15;
	font-size: 13px;
}

/** Buttons **/
.btn {
    background-color: transparent;
    border-radius: 2em;
    cursor: pointer;
    font-size: 3vmin;
    padding: 0.7em 1.5em;
    text-transform: uppercase;
    transition: all 0.25s ease;
    letter-spacing: 5px;
    font-weight: 600;
}

.btn--login {
    margin: 0 auto;
}

/** Now Playing **/
.now-playing__name {
    font-size: 1.3em;

}

.now-playing__artist {
    margin-bottom: 2em;
    color: #C30050;
    padding-bottom: 15px;
    border-bottom: 2px solid #eee;;
   
}

.now-playing__status {
    margin-bottom: 1em;
}

.who {
    font-size: .9rem;
    font-weight: 700;
    color: #C30050;


}

.now-playing__addedby {
    padding: 0;
    font-weight: 900;
    font-size: 3rem;

    
}

.now-playing__img {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 45%;
    display: block;
}

.now-playing__img img {
    max-width: 80vmin;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.now-playing__side {
    margin-left: 5%;
    width: 45%;
}

.progress-bar {
	background-color: #73B9C8;
}

.now-playing__time {
    font-size: 1.2rem;
    float: right;
    padding: 5px 0;
}

/** Background **/
.background {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    filter: blur(.2em) opacity(0.2);
    position: absolute;

}


.main-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: left;
    position: relative;
    width: 90%;
    z-index: 1;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 9px 21px -5px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 9px 21px -5px rgba(0,0,0,0.39);
    box-shadow: 0px 9px 21px -5px rgba(0,0,0,0.39);
    
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 70%;
   
}

.main-container {
    flex: 1;
    margin-bottom: 100px;
}
